@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.css';

#content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 7fr / 1fr 5fr;
}

.header {
    grid-column: 1 / -1;
    margin-left: 2.75rem;
    align-self: center;
}

.sidebar {
    grid-row: 2 / -1;
}

.menu {
    height: 100%;
}

.create-button {
    margin: auto auto;
}

.display {
    overflow: scroll;
}

.task {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 3rem;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.task:hover {
    background-color: rgba(47, 53, 60, 0.3);
}

.task-info-left,
.task-info-right {
    display: flex;
    align-items: center;
}

.task-info-left {
    gap: 1rem;
}

.task-info-right {
    gap: 2rem;
}

.delete-task:hover,
.info-task:hover {
    cursor: pointer;
    color: gray;
}

.time-display {
    width: 8rem;
    text-align: center;
}